*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /*due to this the boxes dont take Extra space of padding*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(250, 247, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
}

.Container{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.Screen{
    display: none;
    text-align: center;
    padding: 2rem;
}

.Screen.active{
    display: block;
}

/* Start */

#Start_screen h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(249, 133, 0);
}

#Start_screen p{
    margin-bottom: 10px;
    color: rgb(61, 60, 60);
    font-size: 1rem;
}

.Start_btn{
    height: 40px;
    width: 120px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(249, 133, 0);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}


/*Quiz Section*/

.Quiz_header{
    margin-bottom: 2rem;
}

.Questions{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

.Quiz_info{
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 1rem;
    margin-bottom: 10px;
}

.Ans_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.Ans_btn{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
}

.Ans_btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;
}

.Ans_btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}

.Ans_btn.incorrect{
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc4545;
}

.Progress_bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.Progress{
    height: 100%;
    background-color: rgb(249, 133, 0);
    width: 0%;
}

/*Result*/

.Result_screen h1 {
  color: #e86a33;
  margin-bottom: 30px;
}

.Final_score {
  background-color: #f8f0e5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.Final_score p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.Msg {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e86a33;
}

#Restart{
    height: 45px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #e86a33;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}