*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #212121;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 10px;
    color: white;
}

.Container{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.5);
}

input {
    width: 250px;
    height: 70px;
    background-color: #212121;
    outline: none;
    border: #212121;
    border-radius: 20px;
    color: white;
    font-size: 35px;
    text-align: right;

}

input::placeholder{
    color: white;
}

.Button{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(247, 122, 5);
    border: 2px rgb(3, 1, 11) solid;
    border-radius: 10px;
    cursor: pointer;
}

.Button:hover{
    width: 52px;
    height: 52px;
    background-color: rgb(202, 100, 5);
}

.equal{
    width: 115px;
}

.equal:hover{
    width: 117px;
}